<h2><%= t(:google_merchant) %></h2>
<div data-hook="admin_product_form_meta">
  <p>
    <%= f.label :google_merchant_gtin%>
    <%= f.text_field :google_merchant_gtin, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :google_merchant_brand %>
    <%= f.text_field :google_merchant_brand, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :google_merchant_product_category %>
    <%= f.text_field :google_merchant_product_category, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :google_merchant_product_type %>
    <%= f.text_field :google_merchant_product_type, :class => 'fullwidth' %>
  </p>
</div>