<h2><%= t(:google_merchant) %></h2>
<div data-hook="admin_product_google_merchant">
  <% if @product.variants.count > 0 %>
    <p>
      <%= f.label :google_merchant_include_variants %>
      <%= f.check_box :google_merchant_include_variants %>
    </p>
  <% end %>

  <p>
    <%= f.label :google_merchant_brand %>
    <%= f.text_field :google_merchant_brand, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :google_merchant_product_category %>
    <%= f.text_field :google_merchant_product_category, :class => 'fullwidth' %>
  </p>
  <p>
    <%= f.label :google_merchant_product_type %>
    <%= f.text_field :google_merchant_product_type, :class => 'fullwidth' %>
  </p>

  <% unless @product.google_merchant_include_variants %>
    <p>
      <%= f.label :google_merchant_gtin %>
      <%= f.text_field :google_merchant_gtin, :class => 'fullwidth' %>
    </p>
  <% end %>
</div>
