<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div id="content-header">
  <div class="container">
    <div class="sixteen columns">
      <div class="block-table">
        <div class="table-cell">
          <h1 class="page-title"><%= Spree.t("google_merchant_settings") %></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<table>
  <tr>
    <th scope="row"><%= Spree.t("google_merchant_title") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_title] %></td>
  </tr>
  <tr>
    <th scope="row"><%= Spree.t("google_merchant_description") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_description] %></td>
  </tr>
  <tr>
    <th scope="row"><%= Spree.t("production_domain") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:production_domain] %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_google_merchants_path, :id => 'admin_google_merchants_link' %></p>
