<%#= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t("google_merchant_settings") %>
<% end %>

<% content_for :page_actions do %>
    <%= button_link_to Spree.t(:view_google_merchant_feed), '/google_merchant.rss', :icon => 'icon-arrow-right' %>
<% end %>

<table class="table">
  <tr>
    <th scope="row"><%= Spree.t("google_merchant_title") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_title] %></td>
  </tr>
  <tr>
    <th scope="row"><%= Spree.t("google_merchant_description") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:google_merchant_description] %></td>
  </tr>
  <tr>
    <th scope="row"><%= Spree.t("production_domain") %>:</th>
    <td><%= Spree::GoogleMerchant::Config[:production_domain] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_google_merchants_path, id: 'admin_google_merchants_link', class: 'btn btn-default' %>
</p>
